<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}


<head>
	<link rel="stylesheet" type='text/css'href="{{url_for('static', filename='css/style.css')}}">

	<title>Nawigacja - Halinów</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		crossorigin=""/>
		
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></head>
	
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
		crossorigin=""></script>
		
	<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
	<script src="{{url_for('static', filename='js/halinow_conjuntions.js')}}"></script>
	<div id="map">
		<div class="inputBars">
			<p><input type="text" id="inpAddress" name="inpAddressFrom" placeholder="Punkt początkowy" autofocus></p>
			<p><input type="text" id="inpAddress" name="inpAddressTo" placeholder="Punkt końcowy"></p>
			<p><input type="text" id="inpAddress" name="inpAPIKey" placeholder="Klucz API"></p>
			<button type="button" id="btnSearch" onclick="getAddressInput(0)">Wyznacz trasę</button>
			<script src = "{{url_for('static', filename='js/script_halinow.js')}}"></script>
			<label class="toggle">
				<input type="checkbox" id="Algorythm" onclick="algorithmFunction()">
				<span class="slider"></span>
				<span class="labels" data-on="A*" data-off="Dijkstra"></span>
			</label>
			<label class="toggle">
				<input type="checkbox" id="cost" onclick="costFunction()">
				<span class="slider"></span>
				<span class="labels" data-on="Odleglość" data-off="Czas"></span>
			</label>
			
		</div>
		
	</div>
	
</body>
{% endblock %}